-- DropTable
PRAGMA foreign_keys=off;
DROP TABLE "Equipe";
PRAGMA foreign_keys=on;

-- DropTable
PRAGMA foreign_keys=off;
DROP TABLE "MaterialFonte";
PRAGMA foreign_keys=on;

-- CreateTable
CREATE TABLE "equipes" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "nome" TEXT NOT NULL,
    "descricao" TEXT,
    "idGestor" TEXT,
    "criadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "atualizadoEm" DATETIME NOT NULL,
    CONSTRAINT "equipes_idGestor_fkey" FOREIGN KEY ("idGestor") REFERENCES "usuarios" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "cargos" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "nome" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "tags" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "nome" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "materiais_fonte" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "titulo" TEXT NOT NULL,
    "descricao" TEXT,
    "categoria" TEXT,
    "tipoCurso" TEXT,
    "thumbnailUrl" TEXT,
    "urlArquivo" TEXT NOT NULL,
    "tipoArquivo" TEXT NOT NULL,
    "textoExtraido" TEXT,
    "statusProcessamento" TEXT NOT NULL DEFAULT 'CONCLUIDO',
    "idUsuarioUpload" TEXT,
    "criadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "atualizadoEm" DATETIME NOT NULL,
    CONSTRAINT "materiais_fonte_idUsuarioUpload_fkey" FOREIGN KEY ("idUsuarioUpload") REFERENCES "usuarios" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "materiais_tags" (
    "idMaterial" TEXT NOT NULL,
    "idTag" TEXT NOT NULL,

    PRIMARY KEY ("idMaterial", "idTag"),
    CONSTRAINT "materiais_tags_idMaterial_fkey" FOREIGN KEY ("idMaterial") REFERENCES "materiais_fonte" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "materiais_tags_idTag_fkey" FOREIGN KEY ("idTag") REFERENCES "tags" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "atividades_aprendizado" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idMaterialFonte" TEXT NOT NULL,
    "tipo" TEXT NOT NULL DEFAULT 'RESUMO',
    "conteudo" TEXT NOT NULL,
    "xpReward" INTEGER NOT NULL DEFAULT 10,
    "tempoEstimadoMin" INTEGER NOT NULL DEFAULT 5,
    "ordem" INTEGER NOT NULL DEFAULT 0,
    "avaliativa" BOOLEAN NOT NULL DEFAULT false,
    "criadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "atividades_aprendizado_idMaterialFonte_fkey" FOREIGN KEY ("idMaterialFonte") REFERENCES "materiais_fonte" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "competencias" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "nome" TEXT NOT NULL
);

-- CreateTable
CREATE TABLE "materiais_competencias" (
    "idMaterial" TEXT NOT NULL,
    "idCompetencia" TEXT NOT NULL,

    PRIMARY KEY ("idMaterial", "idCompetencia"),
    CONSTRAINT "materiais_competencias_idMaterial_fkey" FOREIGN KEY ("idMaterial") REFERENCES "materiais_fonte" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "materiais_competencias_idCompetencia_fkey" FOREIGN KEY ("idCompetencia") REFERENCES "competencias" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "sessoes_aprendizado" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT NOT NULL,
    "idCheckInBio" TEXT,
    "modoRecomendado" TEXT NOT NULL,
    "iniciadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "concluidoEm" DATETIME,
    CONSTRAINT "sessoes_aprendizado_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "sessoes_aprendizado_idCheckInBio_fkey" FOREIGN KEY ("idCheckInBio") REFERENCES "checkins_bio" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "interacoes" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT NOT NULL,
    "idSessao" TEXT,
    "idAtividade" TEXT NOT NULL,
    "estaCorreto" BOOLEAN,
    "tempoRespostaMs" INTEGER NOT NULL,
    "tentativas" INTEGER NOT NULL DEFAULT 1,
    "criadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "interacoes_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "interacoes_idSessao_fkey" FOREIGN KEY ("idSessao") REFERENCES "sessoes_aprendizado" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "interacoes_idAtividade_fkey" FOREIGN KEY ("idAtividade") REFERENCES "atividades_aprendizado" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "revisoes_sr" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT NOT NULL,
    "idAtividade" TEXT NOT NULL,
    "easinessFactor" REAL NOT NULL DEFAULT 2.5,
    "intervalo" INTEGER NOT NULL DEFAULT 0,
    "repeticoes" INTEGER NOT NULL DEFAULT 0,
    "ultimaRevisao" DATETIME,
    "proximaRevisao" DATETIME,
    CONSTRAINT "revisoes_sr_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "revisoes_sr_idAtividade_fkey" FOREIGN KEY ("idAtividade") REFERENCES "atividades_aprendizado" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- RedefineTables
PRAGMA defer_foreign_keys=ON;
PRAGMA foreign_keys=OFF;
CREATE TABLE "new_checkins_bio" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT NOT NULL,
    "horasSono" REAL,
    "qualidadeSono" INTEGER,
    "nivelFoco" INTEGER NOT NULL,
    "nivelEstresse" INTEGER NOT NULL,
    "nivelFadiga" INTEGER,
    "origemDados" TEXT NOT NULL DEFAULT 'SIMULACAO',
    "dadosBrutosSensor" TEXT,
    "dataHora" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "diaDaSemana" INTEGER NOT NULL,
    "horaDoDia" INTEGER NOT NULL,
    CONSTRAINT "checkins_bio_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO "new_checkins_bio" ("dadosBrutosSensor", "dataHora", "diaDaSemana", "horaDoDia", "horasSono", "id", "idUsuario", "nivelEstresse", "nivelFadiga", "nivelFoco", "origemDados", "qualidadeSono") SELECT "dadosBrutosSensor", "dataHora", "diaDaSemana", "horaDoDia", "horasSono", "id", "idUsuario", "nivelEstresse", "nivelFadiga", "nivelFoco", "origemDados", "qualidadeSono" FROM "checkins_bio";
DROP TABLE "checkins_bio";
ALTER TABLE "new_checkins_bio" RENAME TO "checkins_bio";
CREATE INDEX "checkins_bio_idUsuario_dataHora_idx" ON "checkins_bio"("idUsuario", "dataHora");
CREATE TABLE "new_logs_auditoria" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT,
    "acao" TEXT NOT NULL,
    "detalhes" TEXT,
    "ipOrigem" TEXT,
    "dataHora" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "logs_auditoria_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
INSERT INTO "new_logs_auditoria" ("acao", "dataHora", "detalhes", "id", "idUsuario") SELECT "acao", "dataHora", "detalhes", "id", "idUsuario" FROM "logs_auditoria";
DROP TABLE "logs_auditoria";
ALTER TABLE "new_logs_auditoria" RENAME TO "logs_auditoria";
CREATE TABLE "new_matriculas" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "idUsuario" TEXT NOT NULL,
    "idCurso" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'NAO_INICIADO',
    "progresso" INTEGER NOT NULL DEFAULT 0,
    "notaFinal" REAL,
    "ehObrigatorio" BOOLEAN NOT NULL DEFAULT false,
    "atribuidoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "prazo" DATETIME NOT NULL,
    "ultimoAcesso" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "matriculas_idUsuario_fkey" FOREIGN KEY ("idUsuario") REFERENCES "usuarios" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "matriculas_idCurso_fkey" FOREIGN KEY ("idCurso") REFERENCES "materiais_fonte" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
INSERT INTO "new_matriculas" ("atribuidoEm", "ehObrigatorio", "id", "idCurso", "idUsuario", "notaFinal", "prazo", "progresso", "status", "ultimoAcesso") SELECT "atribuidoEm", "ehObrigatorio", "id", "idCurso", "idUsuario", "notaFinal", "prazo", "progresso", "status", "ultimoAcesso" FROM "matriculas";
DROP TABLE "matriculas";
ALTER TABLE "new_matriculas" RENAME TO "matriculas";
CREATE INDEX "matriculas_idUsuario_status_idx" ON "matriculas"("idUsuario", "status");
CREATE TABLE "new_usuarios" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "nome" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "hashSenha" TEXT NOT NULL,
    "cpf" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "papel" TEXT NOT NULL DEFAULT 'COLABORADOR',
    "idEquipe" TEXT,
    "idCargo" TEXT,
    "cargo" TEXT,
    "totalXp" INTEGER NOT NULL DEFAULT 0,
    "nivel" INTEGER NOT NULL DEFAULT 1,
    "diasSequencia" INTEGER NOT NULL DEFAULT 0,
    "aceitouTermos" BOOLEAN NOT NULL DEFAULT false,
    "preferenciaAcessibilidade" TEXT,
    "criadoEm" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "atualizadoEm" DATETIME NOT NULL,
    CONSTRAINT "usuarios_idEquipe_fkey" FOREIGN KEY ("idEquipe") REFERENCES "equipes" ("id") ON DELETE SET NULL ON UPDATE CASCADE,
    CONSTRAINT "usuarios_idCargo_fkey" FOREIGN KEY ("idCargo") REFERENCES "cargos" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
INSERT INTO "new_usuarios" ("avatarUrl", "cargo", "diasSequencia", "email", "hashSenha", "id", "idEquipe", "nivel", "nome", "papel", "totalXp") SELECT "avatarUrl", "cargo", "diasSequencia", "email", "hashSenha", "id", "idEquipe", "nivel", "nome", "papel", "totalXp" FROM "usuarios";
DROP TABLE "usuarios";
ALTER TABLE "new_usuarios" RENAME TO "usuarios";
CREATE UNIQUE INDEX "usuarios_email_key" ON "usuarios"("email");
CREATE UNIQUE INDEX "usuarios_cpf_key" ON "usuarios"("cpf");
PRAGMA foreign_keys=ON;
PRAGMA defer_foreign_keys=OFF;

-- CreateIndex
CREATE UNIQUE INDEX "cargos_nome_key" ON "cargos"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "tags_nome_key" ON "tags"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "competencias_nome_key" ON "competencias"("nome");

-- CreateIndex
CREATE UNIQUE INDEX "sessoes_aprendizado_idCheckInBio_key" ON "sessoes_aprendizado"("idCheckInBio");

-- CreateIndex
CREATE INDEX "interacoes_idUsuario_idx" ON "interacoes"("idUsuario");

-- CreateIndex
CREATE INDEX "revisoes_sr_idUsuario_idAtividade_idx" ON "revisoes_sr"("idUsuario", "idAtividade");

